/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/public/web-assets/css
/public/web-assets/js
/public/web-assets/fonts
/public/fonts
/public/logs
/public/addons
/public/download
/public/invoices
/storage/*.key
/vendor
/temp
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
app/Addons
temp/
composer.lock
package-lock.json
*.lock
resources/lang/en.json
.env
